
<!-- Page Content -->
{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    <section id="{{post.section_id}}">
    {% if thecycle == 'odd' %}

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                    <a class="github-button" href="https://github.com{{ post.github }}" data-style="mega" data-count-href="{{ post.github }}/watchers" data-count-api="/repos{{ post.github }}#subscribers_count" data-count-aria-label="# watchers on GitHub">Watch</a>
                    <a class="github-button" href="https://github.com/YeWang0" data-style="mega" data-count-href="/YeWang0/followers" data-count-api="/users/{{ post.github_name }}#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @{{ post.github_name }} on GitHub">Follow</a>
                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="https://github.com{{ post.github }}/archive/master.zip" data-style="mega" aria-label="Download {{ post.github }} on GitHub">Download</a>
                    <!-- Place this tag where you want the button to render. -->
                </div>
                <!-- Place this tag where you want the button to render. -->
                
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <!-- <img class="img-responsive" src="img/projects/{{ post.img }}" alt=""> -->
                    <iframe width="560" height="315" src="{{ post.video }}" frameborder="0" allowfullscreen></iframe>
                </div>

            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                    
                    <a class="github-button" href="https://github.com{{ post.github }}" data-style="mega" data-count-href="{{ post.github }}/watchers" data-count-api="/repos{{ post.github }}#subscribers_count" data-count-aria-label="# watchers on GitHub">Watch</a>
                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="https://github.com/YeWang0" data-style="mega" data-count-href="/YeWang0/followers" data-count-api="/users/{{ post.github_name }}#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @{{ post.github_name }} on GitHub">Follow</a>

                    <a class="github-button" href="https://github.com{{ post.github }}/archive/master.zip" data-style="mega" aria-label="Download {{ post.github }} on GitHub">Download</a>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <!-- <img class="img-responsive" src="img/projects/{{ post.img }}" alt=""> -->
                  <iframe width="560" height="315" src="{{ post.video }}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
    </section>
{% endfor %}

